.box {
    height: 200px;
    width: 400px;
    border: 5px solid red;
    overflow: scroll;
}
.box2 {
    border: 5px solid peru;
    width: 400px;
    height: 200px;
}

.images .logo {
    height: 100px;
    width: 100px;
}